<h1>Admin</h1>

<nav>
  <ul>
    <li><a href="/new_post">New Post</a></li>
    <li><a href="/new_author">New Author</a></li>
    <li><a href="/new_keyword">New Keyword</a></li>
    <li><a href="/new_comment">New Comment</a></li>
  </ul>
</nav>