<h1>Create a new author: </h1>

<form method="post" action="/new_author">
  First Name:
  <input type="text" name="author[first_name]">
    <br>
  Last Name:
  <input type="text" name="author[last_name]">
    <br>
  <button>New Author</button>
</form>

Authors:
<ul>
  <% @authors.each do |author| %>
    <li>
      <%= author.full_name %>
    </li>
  <% end %>
</ul>